[
 ;; ad
 {:db/id #db/id[:db.part/db]
  :db/ident :ad/public-id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Public id of ad"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ad/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Type of ad"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ad/start-time
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "When the ad activates"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ad/end-time
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "When the ad deactivates"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ad/active
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "If the ad is active or not"
  :db.install/_attribute :db.part/db}

 ;; ad.type enum values
 [:db/add #db/id[:db.part/user] :db/ident :ad.type/real-estate]

 ;; real estate 
 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/public-id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Public id of real estate"
  :db.install/_attribute :db.part/db} 

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Title of real estate"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Description of real estate"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Type of real estate"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/cost
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Cost of real estate"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/size
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Size of real estate(in m2)"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/bedrooms
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Number of bedrooms"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/ad
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :real-estate/features
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Property features"
  :db.install/_attribute :db.part/db}

 ;; real-estate.type enum values
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.type/house]
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.type/apartment]

 ;; real-estate.features enum values
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.feature/elevator]
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.feature/aircondition]
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.feature/fireplace]
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.feature/lawn]
 [:db/add #db/id[:db.part/user] :db/ident :real-estate.feature/garage]

 ;; location
 {:db/id #db/id[:db.part/db]
  :db/ident :location/public-id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Public id of location"
  :db.install/_attribute :db.part/db} 

 {:db/id #db/id[:db.part/db]
  :db/ident :location/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Name of location"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/address
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Address of location"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :location/real-estate
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 ;; gps
 {:db/id #db/id[:db.part/db]
  :db/ident :gps/public-id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Public id of gps"
  :db.install/_attribute :db.part/db} 

{:db/id #db/id[:db.part/db]
 :db/ident :gps/latitude
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "Latitude coordinates"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :gps/longitude
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "Longitude coordinates"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :gps/location
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}
]
